html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Custom properties */

:root {
    /* colors */
    --clr-custom-gold: hsl(39 100% 41%);
    --clr-light-custom-gold: hsl(39 94% 57%);
    --clr-custom-black: hsl(0 0% 20%);
    --clr-custom-white: hsl(0 0% 100%);
    
    
    /* font-size */
    --fs-100: 1.125rem; /* var(--fs-100);  */
    --fs-200: 1.3125rem; /* var(--fs-200);  */
    --fs-250: 1.25rem; /*  var(--fs-250)  */
    --fs-300: 2.25rem; /* var(--fs-300);  */
    --fs-400: 3rem; /* var(--fs-400);  */

    /* font-family */
    --ff-base: system-ui;
    --ff-accent: Overlock, serif;
}

@font-face {
    font-family: Overlock;
    src: local(Overlock), url(../fonts/Overlock-Regular.ttf);
}

body {
    margin-inline: auto;
    margin: 0;
}

main {
    color: var(--clr-custom-black);
    font-family: var(--ff-base);
    font-size: var(--fs-100);
    line-height: 1.6;
    
}

h1 {
    font-family: var(--ff-accent);
    font-size: var(--fs-300);
}
h1 > span {
    color: var(--clr-custom-gold);
}

h1 > p > span {
    color: var(--clr-custom-gold);
    font-family: var(--ff-accent);
    font-size: var(--fs-400);
}

h2 {
    color: var(--clr-custom-gold);
    font-family: var(--ff-accent);
    font-size: var(--fs-300);
    line-height: 1.1;
}

h2 > span {
    color: var(--clr-custom-black);
}

h3 {
    font-size: var(--fs-250);
}

a {
    color: var(--clr-custom-black);
}

a:hover, a:focus-visible {
    color: rebeccapurple;
}

.chess-button {
    background: var(--clr-custom-gold);
    border: none;
    display: inline-block;
    font-size: .9em;
    margin: 40px;
    max-width: 90%;
    padding: 0.5em 1.5em;    
    overflow: hidden;
    
}

p {
    font-size: var(--fs-100);
}

p > span {
    font-size: var(--fs-200);
}

/*image */
.chess { 
    max-inline-size: 85%;
}

.learn-chess {
    background: var(--clr-custom-gold);
    padding: 100px 50px;
    text-align: center;
}

.learn-chess-content {
    background: var(--clr-custom-white);
    overflow: hidden;
}

.lede {
    font-size: var(--fs-200);
    padding: 30px;
}














