html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}


.article-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-areas:
    "paper-name paper-name paper-name"
    "nav-bar nav-bar nav-bar"
    "outer-body-left main-body outer-body-right"
    "footer footer footer";
    width: 90%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.paper-name {
    grid-area: paper-name;
    font-family: 'Style Script', cursive;
    word-spacing: 20px;
    text-align: center;
}

img {
    width: 95%;
    height: auto;
    object-fit: cover;
}

.nav-bar {
    grid-area: nav-bar;
    background: white;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    word-spacing: 10px;
    color: black;
    border: solid black 2px;
}

.outer-body-left {
    grid-area: outer-body-left;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: solid black 2px;
}

.main-body {
    grid-area: main-body;
    height: 100%;
    border-right: solid black 2px;
    border-left: solid black 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer-body-right {
    grid-area: outer-body-right;
    border-right: solid black 2px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-heading {
    grid-area: footer;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25rem;
    border: solid black 2px;
    border-top: solid black 2px;
}

